
.list{
width: 300px;

}

.link{
   display: block;
   margin-bottom: 3px;
   padding: 2px 10px;
   background-color: rgb(182, 179, 179);
   font-weight: 500;
   font-size: 20px;
   color: black;
   border: 2px solid black;
   border-radius: 15px;
  
}


.link:hover{
   transform: scale(1.05);
}